* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #151515;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: #4dbf00;
}

.logo-link {
    text-decoration: none;
    cursor: pointer;
    display: block;
}

/* MEGELŐZÉS: Töröljük a színt és a háttérváltozást a logo-ról hover esetén */
.logo-link:hover .logo {
    opacity: 1;
    color: #4dbf00 !important;
}

/* Megelőzzük, hogy a sima <a> tag hover stílusa ráhatással legyen a logo-ra */
.logo-link:hover {
    background-color: transparent !important;
}

/* KORRIGÁLVA: A menü jobbra tolása a profil ikon mellé */
.menu-container {
  flex: none;
  margin-left: auto;
  margin-right: 0;
}

.menu-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.menu-list-item {
    margin-right: 20px;
    transition: background-color 0.3s ease-in-out;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.menu-list-item a {
    color: #4dbf00;
    text-decoration: none;
    display: block;
}

.menu-list-item:hover {
    background-color: #E0E0E0;
    color: black;
}

.menu-list-item:hover a {
    color: black;
}


.menu-list-item.active {
    font-weight: bold;
    background-color: #4dbf00;
    color: black;
}
.menu-list-item.active a {
    color: black;
}

.left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

/* HOVER EFFEKTUS: Méretnövelés és szín megtartása */
.left-menu-icon:hover {
    color: white;
    transform: scale(1.1);
}

/* PROFIL KONTÉNER: Optimalizálva, hogy csak a tartalmának megfelelő helyet foglalja */
.profile-container {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-container a {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.profile-text-container {
    display: none;
    margin: 0 20px;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;
}

/* Hover effektus a profilképre */
.profile-picture:hover {
    transform: scale(1.1);
    border: 2px solid #4dbf00;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
}

.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.container {
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container {
    margin-left: 50px;
}

.featured-content {
    height: 50vh;
    padding: 50px;
}

.featured-title {
    width: 200px;
}

.featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

.featured-button {
    background-color: #4dbf00;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    /* ÚJ: Mutató kurzor hozzáadva */
    cursor: pointer;
}

.movie-list-container {
    padding: 0 20px;
}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}

.movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.movie-list-item-title {
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-desc {
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-button {
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}

/* ---------------------------------------------------- */
/* VILÁGOS MÓD STÍLUSOK (.active) - KORRIGÁLVA */
/* ---------------------------------------------------- */

.container.active {
    background-color: white;
}


.navbar-container.active {
    background-color: white;
    /* color: black; TÖRÖLVE */
}

.sidebar.active{
    background-color: white;
}

/* JAVÍTVA: Az ikonok feketévé válnak világos módban (fehér háttér) */
.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}